/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/poke.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1050px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
